{% extends "base.html" %}

{% block content %}
    <div class='row'>
        <div class="col-8 news-content news-content_img">
            {{ news.text|safe }}
            {% include('messages.html') %}
            {% if news.comments %}
                <hr/>
                <h4>Комментрии:</h4>
                {% for comment in news.comments %}
                <div class="card">
                    <div class="card-body">
                        <img src="https://filin.mail.ru/pic?email=yashkins1982%40mail.ru&width=180&height=180&name=Яков+Рязанов&version=4&build=7&_=1647682809556.651" width="36" height="36">
                        <p class="card-text">{{ comment.text }}</p>
                    </div>
                </div>
                <p class="card-text">
                    <small>Опубликованно: {{ momentjs(comment.created).format('DD.MM.YYYY [в] HH:mm:ss') }} |
                        Автор: <a href="{{ url_for('user.profile',username=comment.user.username) }}">{{ comment.user.username }}</a>
                    </small>
                </p>  
                <br/>
                {% endfor %}
            {% endif %}
            {% if current_user.is_authenticated %}
                <form action="{{ url_for('news.add_comment') }}" method="POST">
                    {{ comment_form.hidden_tag() }}
                    <div class="form-group">
                        {{ comment_form.comment_text.label }}
                        {{ comment_form.comment_text() }}
                    </div>
                    {{ comment_form.submit() }}
                </form>
                <br/>
            {% else %}
                <p>
                    <a href="{{ url_for('user.login', next=request.full_path) }}">Авторизуйтесь</a>, чтобы оставлять комментарии.
                </p>
                <br/>
            {% endif %}
        </div>
        <div class="col-4">
            <h2>Другие новости</h2>        
        </div>
    </div>
{% endblock %}    