{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-4">
        <form action="{{ url_for('user.reset_password') }}" method="POST">
            {{ form.hidden_tag }}
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password() }}
            </div>
            {% for error in form.password.errors %}
                <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
            <div class="form-group">
                {{ form.password2.label }}
                {{ form.password2() }}
            </div>
            {% for error in form.passowrd2.errors %}
                <span style="color:red;">[{{ error }}]</span>
            {% endfor %}
            {{ form.submit }}
        </form>
    </div>
</div>

{% endblock %}